

<div style="text-align:center; width:@($"{Width}px"); margin:auto">
    <img class="loading-icon img-fluid" src="/images/loading.svg" />
</div>

@code{
    [Parameter]
    public int Width { get; set; }
}